.name {
  font-size: 50px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.text {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.tag {
  display: inline-block;
  font-size: 15px;
  background-color: lightgray;
  padding: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}
